<nav class="navbar navbar-expand-lg navbar-dark bg-black py-4" style="margin-left: 5%; margin-top: 1%;">
  <div style="display: flex; align-items: center; gap: 10px;">
    <div style="width: 32px; height: 32px; border-radius: 8px; background: #f59e0b; display: flex; align-items: center; justify-content: center;">
      <i class="bi bi-currency-bitcoin fs-3"></i>
    </div>
    <span style="color: #fff; font-weight: 500; font-size: 25px;">Bit <span style="color: #f59e0b;">App</span></span>
  </div>
</nav>