DEBUG=True

SECRET_KEY='-'

ALLOWED_HOSTS='127.0.0.1,localhost'

DATABASE_LOCAL=True

# DB
POSTGRES_DB=bit-app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=bit-app_db
PPOSTGRES_PORTORT=5432
